ul {
  list-style: none;
  margin: 1rem 0;
  font-family: sans-serif;
  margin-left: -2.5rem;

  li {
    margin: 0.5rem 0;
    padding: 1rem;

    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input {
      cursor: pointer;
    }

    span {
      display: flex;
      flex-direction: row;
      justify-content: start;
      width: 25vw;


      strong {

        margin: 0 0.5rem 0 0.5rem;
      }
    }

    small {
      color: gray;
      margin: 0 0 0 0.5rem;
      width: 15vw;
    }

    button {
      margin: 0 0 0 0.5rem;
      outline: none;
    }


  }
}

.not-found {
  font-family: sans-serif;

  strong {
    cursor: pointer;
    color: dodgerblue;
  }
}

.done {
  text-decoration: line-through;
}

.remove {

  font-weight: bold;
  width: 1.5rem;
  height: 1.5rem;
  border-style: none;
  border-radius: 100px;
  color: red;
  border: 1px solid red;
  background: transparent;
  transition: 0.5s;
}

.remove:hover {
  cursor: pointer;
  background: red;
  color: white;

  transition: 0.3s;
}

.loading {
  font-family: sans-serif;
}

.filter {
  display: flex;
  align-items: center;
  width: 47vw;

  input {
    outline: none;
    width: 100%;
    height: 100%;

    padding: 0.5rem;
    border-style: none;
    border-bottom: 1px solid black;
    transition: 0.3s;
  }

  input:focus {
    border-bottom: 1px solid dodgerblue;
    transition: 0.3s;
  }
}
