<div *ngIf="!loading">
  <div class="filter">
    <input type="text" placeholder="filter by title" [(ngModel)]="searchString">
  </div>
  <ul *ngIf="todosService.todos.length; else noTodos">
    <li *ngFor="let todo of todosService.todos | todosFilter:searchString ; let i = index">
      <input type="checkbox" [id]="i" [checked]="todo.completed" (change)="onChange(todo.id)">
      <span [class.done]="todo.completed">

        <strong>{{i +1}}</strong>
        {{todo.title}}
      </span>
      <small>{{todo.date | date:"medium"}}</small>

      <button (click)="removeTodo(todo.id)" class="remove">
        &times;
      </button>
    </li>
  </ul>
  <ng-template #noTodos>
    <p class="not-found" style="text-align: center;">Todos not found. <strong (click)="ngOnInit()">refresh</strong></p>
  </ng-template>
</div>
<p *ngIf="loading" class="loading" style="text-align: center;">Loading ...</p>
