div {
  font-family: sans-serif;
  padding: 0.7rem;
  border-radius: 5px;
  border: 1px solid rgb(189, 189, 189);


  input {
    border-style: none;
    border-bottom: 1px solid black;
    background: rgb(255, 255, 255);
    padding: 0.5rem;
    outline: none;
    width: 39.5vw;
    transition: 0.3s;
  }

  input:focus {
    border-bottom: 1px solid dodgerblue;
    transition: 0.3s;
  }

  button {
    border-style: none;
    margin-left: 0.3rem;
    background: transparent;
    padding: 0.5rem;
    cursor: pointer;
    color: rgb(35, 172, 35);
    border: 1px solid rgb(35, 172, 35);
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    outline: none;
  }

  button:hover {
    background-color: rgb(35, 172, 35);
    color: white;
    transition: 0.3s;
  }
}
